* {
padding: 0;
margin: 0;
}

body {
    background: #f5f3d3;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: #656d72;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: .9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: #d9d9d9;
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

.hero-name {
    font-size: 50px;
}

span {
    color: #ffb937;
}

.navbar {
    padding-bottom: 200px;
}

.poto {
    border-radius: 200px;
}

.pre-title2 {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: #656d72;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: .9rem;
}

.pre-title2::before {
    content: "";
    width: 30px;
    height: 1px;
    background: #d9d9d9;
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

.container3 {
    margin-top: 450px;
    margin-right: 100px;
    margin-bottom: 350px;
}

.example-img {
    margin-left: 150px;
    border-radius: 30px;
}

.title3 {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: #656d72;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: .9rem;
}

.title3::before {
    content: "";
    width: 30px;
    height: 1px;
    background: #d9d9d9;
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

footer {
    padding-right: -300px;
}

.container-Tools {
    background-color: inherit;
    align-items: center;
    display: flex;
    overflow-x: scroll;
    padding: 24px;
    width: 100%;
    scroll-snap-type: mandatory;
    scroll-padding: 24x;
    border-radius: 8px;
    margin-bottom: 100px;
    gap: 50px;
  }
  
  .container-Tools .item {
    background-color: inherit;
    box-shadow: 0px 0px 5px 0px black;
    padding: 24px;
    border-radius: 20px;
    scroll-snap-type: start;
  }
  
  .service-box {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .service-box h3 {
    font-size: 20px;
  }
  .service-box img {
    margin-bottom: 22px;
  }
  .service-box:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }